.dctors {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.doctorheader {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctorbody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
