.contactUs {
  min-width: 100%;
  min-height: 100%;
}

.contactUsheader {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(27, 27, 27);
}

.contactUsbody {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid gainsboro;
}

.contactlinks {
  width: 100%;
  height: 400px;
  padding-bottom: 15px;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
}
.service {
  width: 30%;
  height: 100%;
  display: flex;
  margin-left: 46px;
  background-color: whitesmoke;
  flex-direction: column;
}
.call {
  width: 30%;
  height: 100%;
  margin-left: 5px;
  background-color: whitesmoke;
}
.email {
  width: 30%;
  height: 100%;
  margin-left: 5px;
  background-color: whitesmoke;
}
