.contactUs {
  min-width: 100%;
  min-height: 100%;
}

.contactUsheader {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUsbody {
  width: 100%;
  height: 100%;
  background-color: green;
}
